<header class="header site-header" role="banner">
  <nav class="nav">
    <div class="container is-fluid">
      <div class="nav-left">
        <a class="nav-item  is-brand" href="{{ "/" | relative_url }}">
            <img src="https://s3-eu-west-1.amazonaws.com/geekmatic/assets/img/logo_geekmatic.png" alt="{{ site.title | escape }}">
          </a>
      </div>

      
    
      <div class="nav-center">

      </div>
      <span id="nav-toggle" class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>
      <div id="nav-menu" class="nav-right nav-menu">
        {% assign current = page.url | downcase | split: '/' %}
        <a href="{{ "/" | prepend: site.baseurl }}" class="nav-item {% if current[1] == site.baseurl | relative_url %}class='is-active'{% endif %}">
          Articles
          </a>
        <a href="{{ " /tags" | prepend: site.baseurl }}" class="nav-item {% if current[1] == 'tags' %}class='is-active'{% endif %}">
          Sections
          </a>
      </div>
    </div>
  </nav>
</header>