<header class="header site-header" role="banner">
  <nav class="nav">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item  is-brand" href="{{ "/" | relative_url }}">
            <img src="https://s3-eu-west-1.amazonaws.com/geekmatic/assets/img/logo_geekmatic.png" alt="{{ site.title | escape }}">
          </a>
      </div>

      
    
      <div class="nav-center">

      </div>
      <span id="nav-toggle" class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>
      <div id="nav-menu" class="nav-right nav-menu">
        <a href="{{ "/" | prepend: site.baseurl }}" class="nav-item {% if page.url == " / " %} is-active {% endif %}">
          Blog
          </a>
        <a href="{{ " /categories.html " | prepend: site.baseurl }}" class="nav-item {% if page.url == " /categories.html
          " %} is-active {% endif %}">
          Categories
          </a>
      </div>
    </div>
  </nav>
</header>