<header class="header site-header">
  <div class="container is-fluid">
  <nav class="nav">
    
      <div class="nav-left">
        <a class="nav-item  is-brand" href="{{ "/" | relative_url }}">
            <img src="https://s3-eu-west-1.amazonaws.com/geekmatic/assets/img/logo_geekmatic.png" alt="{{ site.title | escape }}">
          </a>
      </div>

      
    
      <div class="nav-center">

      </div>
      <span id="nav-toggle" class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>
      <div id="nav-menu" class="nav-right nav-menu">
        {% assign current = page.url | downcase | split: '/' %}
        <a href="/" class="nav-item{% if page.url == "/" %} is-active{% endif %}">Home</a>
        <a href="{{ "/posts" | prepend: site.baseurl }}" class="nav-item{% if current[1] == 'posts' %} is-active{% endif %}">Blog</a>
        <a href="{{ "/tags" | prepend: site.baseurl }}" class="nav-item{% if current[1] == 'tags' %} is-active{% endif %}">Sections</a>
      </div>
    
  </nav>
  </div>
</header>