/*!
 *  Colors 1.0 by @JoeTEvil - http://geekmatic.com
 */
$white:     hsla(360, 100%, 100%, 1) !default;
$red:       hsla(0, 100%, 50%, 1) !default;
$orange:    hsla(34, 100%, 50%, 1) !default;
$banana:    hsla(48, 100%, 50%, 1) !default;
$yellow:    hsla(60, 100%, 50%, 1) !default;
$lime-green:hsla(86, 100%, 50%, 1) !default;
$green:     hsla(120, 100%, 50%, 1)!default;
$dark-green:hsla(120, 100%, 28%, 1) !default;
$light-blue:hsla(212, 100%, 63%, 1) !default;
$blue:      hsla(240, 100%, 50%, 1) !default;
$black:     hsla(0, 0%, 0%, 1) !default;


// phaedra kuler theme

$shade-01: rgb(233, 90, 73);
$shade-02: rgb(226, 122, 63);
$shade-03: rgb(239, 201, 76);
$shade-04: rgb(69, 178, 157);
$shade-05: rgb(51, 77, 92);


.white { color: $white; }
.red { color: $red; }
.orange { color: $orange; }
.banana { color: $banana; }
.yellow { color: $yellow; }
.lime-green { color: $lime-green; }
.light-blue { color: $light-blue; }
.black { color: $black; }