---
 title: Main Sass file
---

@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";
@import "font-awesome/font-awesome";
@import "colors";
@import "fa-animation";
@import "novenus";
@import "typography";
@import "lightbox";


body {
    min-height: 100vh;
    min-width: 100vw;
}

.pageWrapper {
    min-height: 100vh;
}
// Auto hide menu

.header
{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}
.header
{
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
 
    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
 
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
 
.header--hidden
{
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
    box-shadow: none;
}

.nav {
    background-color: rgb(250, 193, 0);
    padding: 0 1rem;
}
.nav-item a, a.nav-item {
    color: rgb(15, 14, 18);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.nav-item {
  padding: 0.5rem 0.75rem;
}
.nav-item img {
 max-height: 3rem;
}
.nav-item a.is-active, a.nav-item.is-active, .nav-item a.is-active:hover, a.nav-item.is-active:hover {
    color: $orange;
}
.nav-item a:hover, a.nav-item:hover {
    color: $red;
}
.nav-toggle span {
    height:3px;
}
.nav-toggle span:nth-child(1) {
    margin-top: -6px;
}
.nav-toggle span:nth-child(2) {
    margin-top: 0;
}
.nav-toggle span:nth-child(3) {
    margin-top: 6px;
}
.nav-toggle:hover {
    background-color: transparent;
}
.nav-toggle:hover span {
    background-color: $orange;
}
.nav-toggle.is-active span {
    background-color: $red;
}
// PostsGrid

.container.is-fluid {
    margin: 0;
}
.postItem {
    height: 32rem;
}
.postBody {
    height: 32rem;
    background-position: center center;
    background-size: cover;
    margin-bottom: .5rem;
}

.postItem.column {
    padding-left: .25rem;
    padding-right: .25rem;
}
.postContent {
    width: 100%;
    min-height: 7rem;
}

.postArrow {
    content: ' ';
    height: 0;
    width: 0;
    background-color: none;
    border: 30px solid transparent;
    margin-left: 2rem;
    margin-bottom: -1px;
}

.postItem:nth-child(5n+1) .postArrow {
    border-bottom-color: $ph-shade-01;
}
.postItem:nth-child(5n+2) .postArrow {
    border-bottom-color: $ph-shade-02;
}
.postItem:nth-child(5n+3) .postArrow {
    border-bottom-color: $ph-shade-03;
}
.postItem:nth-child(5n+4) .postArrow {
    border-bottom-color: $ph-shade-04;
}
.postItem:nth-child(5n+5) .postArrow {
    border-bottom-color: $ph-shade-05;
}

.postMeta {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
}

.postMeta h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: .5rem;
    color: white;
    text-align: left;
    text-transform: uppercase;
   // text-shadow: 0px 0px 1px rgba(0,0,0,1);
}
.postItem:nth-child(5n+1), .postItem:nth-child(5n+1) .postContent {
    background-color: $ph-shade-01;
}
.postItem:nth-child(5n+2), .postItem:nth-child(5n+2) .postContent {
    background-color: $ph-shade-02;
}
.postItem:nth-child(5n+3), .postItem:nth-child(5n+3) .postContent {
    background-color: $ph-shade-03;
}
.postItem:nth-child(5n+4), .postItem:nth-child(5n+4) .postContent {
    background-color: $ph-shade-04;
}
.postItem:nth-child(5n+5), .postItem:nth-child(5n+5) .postContent {
    background-color: $ph-shade-05;
}

// General

.page-content {
    margin: 4rem 0 0 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
// Footer
.footer {
    background-color: #292929;
    padding: 2rem 1rem;
}

.footerText {
    font-size: 1.2rem;
    font-weight: bold;

}

.footer .fa {
    padding-top: 0.2rem;
}
.fa-stack.icon {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    vertical-align: top;
    width: 1.5rem;
}

.fa-copy {
    -webkit-text-stroke-width: .06rem;
    -webkit-text-stroke-color: grey;
}
.fa-heart {
    -webkit-text-stroke-width: .06rem;
    -webkit-text-stroke-color: red;
}
.fa.fa-circle {
    font-size: 1.3rem;
}
.fa-sun-o {
    -webkit-text-stroke-width: .06rem;
    -webkit-text-stroke-color: orangered;
}
.fa-github {
    -webkit-text-stroke-width: .06rem;
    -webkit-text-stroke-color: grey;
}
.fa-twitter {
    -webkit-text-stroke-width: .06rem;
    -webkit-text-stroke-color: blue;
}
.fa-rss {
    -webkit-text-stroke-width: .06rem;
    -webkit-text-stroke-color: red;
}

// postItem



// Tags

.tagsContainer {
    margin: 1rem;
}
.post-header .tagsContainer, .tags-header .tagsContainer {
    margin: 1rem 0;
}

.pageTags .tagContainer {
    display: inline-block;
    padding: 0.10rem 0.5rem;
    border-radius: .9rem;
    margin-right: 1rem;
    border-width: 3px;
    border-color: rgba(255, 255, 255, .3);
    border-style: solid;
}
.postTags .tagContainer {
    padding: 0.10rem 0.5rem;
    border-radius: .9rem;
    margin-right: 1rem;
    border-width: 3px;
    border-color: rgba(255, 255, 255, .3);
    border-style: solid;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.tagContainer h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2rem;
    color: white;
    margin: 0;
}
.tagContainer h2 span.tag-count {
    background-color: white;
    padding: 0 .25rem;
    border-radius: 3rem;
}
.tagContainer:nth-child(5n+1) {
    background-color: $lg-shade-01;
}
.tagContainer:nth-child(5n+2) {
    background-color: $lg-shade-02;
}
.tagContainer:nth-child(5n+3) {
    background-color: $lg-shade-03;
}
.tagContainer:nth-child(5n+4) {
    background-color: $lg-shade-04;
}
.tagContainer:nth-child(5n+5) {
    background-color: $lg-shade-05;
}

.tagContainer:first-child h2 span.tag-count {
    margin-left: 0;
}
.tagContainer:nth-child(5n+1) h2 span.tag-count {
    color: $ph-shade-05;
}
.tagContainer:nth-child(5n+2) h2 span.tag-count {
    color: $ph-shade-04;
}
.tagContainer:nth-child(5n+3) h2 span.tag-count {
    color: $ph-shade-03;
}
.tagContainer:nth-child(5n+4) h2 span.tag-count {
    color: $ph-shade-02;
}
.tagContainer:nth-child(5n+5) h2 span.tag-count {
    color: $ph-shade-01;
}

// TagsGrid
.tagsGrid {
    background-color: $ph-shade-01;
}
.tagsGrid .tagItem {
    height: 100%;
}
.tagsGrid .postItem, .tagsGrid .postItem .postBody {
    height: 20rem;
    max-height: 20rem;
}

@media screen and (max-width: 768px) {
    .tagsGrid .postItem.tagHeader {
    max-height: 10rem;
    }
}
@media screen and (min-width: 769px) {
    .tagsGrid .postItem.tagHeader {
    max-height: 15rem;
    }
}
@media screen and (min-width: 1000px) {
    .tagsGrid .postItem.tagHeader {
    max-height: 20rem;
    }
}
.tagsGrid .postItem .postMeta h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}


.tagsGrid .tagContainer {
    display: inline-block;

}

.tagsGrid .tagContainer h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2rem;
    color: white;
    border-top: solid 4px;
    border-bottom: solid 4px;
    padding: 0.5rem 0;
    margin: 0;
}
.tagsGrid .tagContainer h2 span.tag-count {
    background-color: white;
    padding: 0 .5rem;
    border-radius: 3rem;
}
.tagsGrid .postItem .tagContainer {
    background-color: transparent;
}

.tagContainer:first-child h2 span.tag-count {
    margin-left: 0;
}
.tagsGrid .postItem:nth-child(5n+1) .tagContainer h2 span.tag-count {
    color: $ph-shade-05;
}
.tagsGrid .postItem:nth-child(5n+2) .tagContainer h2 span.tag-count {
    color: $ph-shade-04;
}
.tagsGrid .postItem:nth-child(5n+3) .tagContainer h2 span.tag-count {
    color: $ph-shade-03;
}
.tagsGrid .postItem:nth-child(5n+4) .tagContainer h2 span.tag-count {
    color: $ph-shade-02;
}
.tagsGrid .postItem:nth-child(5n+5) .tagContainer h2 span.tag-count {
    color: $ph-shade-01;
}

// Post
.hero-body {
    background-color: $ph-shade-01;
}
.image-hero {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

h1.post-title  {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 2px rgba(0,0,0,1);
}
h2.second-title  {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 2px rgba(0,0,0,1);
}
.post-content {
    padding: 1rem;
}

.post-content p {
    font-size: 1.2rem;
    text-align: justify;
}
// Sections

.sectionsList {
    margin-top: 3rem;
    padding: 2rem 0;
}

// Home Featured

.featuredItem {
    padding: 6rem 0;
    margin: 0 !important;
}

.featuredItem h1, .featuredItem h2, .featuredItem p {
    color: white;
}

.featuredItem h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
}
.featuredItem h2 {
    font-size: 2.5rem;
    padding: 1rem 0;
}
.featuredItem p {
    font-size: 1.2rem;
    line-height: 2.6rem;
    text-align: justify;
}
.featuredImage{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 30rem;
    fill: white;
}

.featuredItem:nth-child(5n+1) {
    background-color: $ph-shade-01;
}
.featuredItem:nth-child(5n+2) {
    background-color: $ph-shade-02;
}
.featuredItem:nth-child(5n+3) {
    background-color: $ph-shade-03;
}
.featuredItem:nth-child(5n+4) {
    background-color: $ph-shade-04;
}
.featuredItem:nth-child(5n+5) {
    background-color: $ph-shade-05;
}

.featuredMeta {
    padding: 1rem;
}
