---
# Only the main Sass file needs front matter (the dashes are enough)
---
 @charset "utf-8";


@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";
@import "font-awesome";
@import "colors";
@import "fa-animation";
@import "novenus";

.nav-item {
  padding: 0.5rem 0.75rem;
}
.nav-item img {
 max-height: 4rem;
}

// Auto hide menu

.header
{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}
.header
{
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
 
    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
 
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
 
.header--hidden
{
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
    box-shadow: none;
}

.page-content {
    padding-top: 4rem;
}

.footer {
    background-color: #292929;
}

.fa-stack.icon {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    vertical-align: top;
    width: 1.5rem;
}

// PostsGrid

.postItem {
    height: 20rem;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1.6rem;
}

.postMeta {
    height: 3rem;
    width: 100%;
    background-color: hsla(360, 100%, 100%, 0.5);
}

.postMeta h2 {
    font-weight: bold;
    padding: .5rem;
    color: #292929;
    text-align: center;
}