--- 
layout: default 
---
<main class="content page-content" aria-label="Content">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <section class="hero is-medium">
      <div class="hero-body image-hero" {% if page.image.feature %} style="background-image: url('{{ page.image.feature }}');"
        {% endif %}>
        <div class="container">
          <h1 class="post-title" itemprop="name headline">
            {{ page.title | escape }}
          </h1>
          {% include page-tags.html %}
        </div>
      </div>
    </section>
    <section class="post-content" itemprop="articleBody">
      <div class="container">
        {{ content }}
      </div>
    </section>

    {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}

  </article>
</main>