--- 
layout: default 
---
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <section class="hero is-medium">
      <div class="hero-body image-hero" {% if page.image.feature %} style="background-image: url('{{ page.image.feature }}');"{% endif %}>
        <div class="container">
          <h1 class="title post-title" itemprop="name headline">
            {{ page.title | escape }}
          </h1>
          <div class="subtitle">
            {% if page.second-title %}
              <h2 class="title second-title">
                {{ page.second-title }}
              </h2>
            {% endif %}
            {% include page-tags.html %}
          </div>
        </div>
      </div>
    </section>
    <section class="post-header">
      <div class="container">
      <div class="flexContainer flexRow justifyEnd">
        
        <div class="flexItem">
          <div class="author-name">{{ site.author.display_name }}</div>
          <div class="post-date">{{ page.date | date: '%B %d, %Y' }}</div>
        </div>
        <div class="flexItem">
          <img class="author-avatar" src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=50">
        </div>
      </div>
      </div>
    </section>
    <section class="post-content" itemprop="articleBody">
      <div class="container">
        {{ content }}
      </div>
    </section>

    {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}

  </article>